.Rproj.user
.Rhistory
.RData
.Rda
*.tif
*.xml
*.dta
*.xls
*.xlsx
*.shp
*.dbf
*.sbx
*.shx
*.sbn
*.prj
*.grd
*.gri
*~
*.#-emacs*
*emacs*
*.el
*getPublicLUData.R
Data_Other/Data_Zip3_City_Labels/_ReadMe_NotPublic_.txt